/* ========================================================== */
/* ========================= RESET ========================== */
/* ========================================================== */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ============================================================ */
/* ===================== ALL SCREEN SIZES ===================== */
/* ============================================================ */
:root {
  --black: #000000;
  --white: #ffffff;
  --green: #00ff00;
  --purple: #cc00ff;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Tangerine", cursive;
  text-align: left;
  background-color: var(--purple);
}

/* ============================================================ */
/* ============== MOBILE WITH SMALL SCREEN SIZE =============== */
/* ============================================================ */
@media screen and (min-width: 320px) {
  .wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .title {
    position: relative;
  }

  .title span {
    font-size: 4em;
    color: var(--green);
    letter-spacing: 0.1em;
    will-change: transform;
    transition: 0.5s;
    display: inline-block;
  }

  .wrapper-span__s1 span {
    transform-origin: bottom;
  }

  .wrapper-span__s2 span {
    transform-origin: top;
    transform: translateY(100%) rotateX(-90deg);
  }

  .wrapper-span__s2 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .title:hover .wrapper-span__s1 span {
    transform: translateY(-100%) rotateX(-90deg);
  }

  .title:hover .wrapper-span__s2 span {
    transform: translateY(0%) rotateX(0deg);
  }
}

/* ============================================================ */
/* ============== MOBILE WITH MEDIUM SCREEN SIZE ============== */
/* ============================================================ */
@media screen and (min-width: 390px) {
  /*! None */
}

/* ============================================================ */
/* =============== MOBILE WITH LARGE SCREEN SIZE ============== */
/* ============================================================ */
@media screen and (min-width: 428px) {
  /*! None */
}

/* ============================================================ */
/* ========================== TABLET ========================== */
/* ============================================================ */
@media screen and (min-width: 768px) {
  /*! None */
}

/* ============================================================ */
/* ========================== DESKTOP ========================= */
/* ============================================================ */
@media screen and (min-width: 992px) {
  .title span {
    font-size: 6em;
  }
}
